button {
    font-size: 2em;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    list-style: none;
}

li {
    padding: 0;
}